{% extends 'layout.twig' %}


{% block title %} {{welcome}} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{welcome}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>This is an example application to demostrate use of ArangoDB and PHP</p>
        </div>
    </div>
</div>
{% endblock %}
